@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rouble";
  src: url("../fonts/rouble.otf") format("opentype");
}

.rub {
  font-family: "rouble", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.pagination,
.hotel-card,
.infrastructure-type,
.hotels-found-container {
  display: flex;
  list-style-type: none;
}

.infrastructure-type {
  justify-content: center;
  align-items: center;
}

.infrastructure-type-filter {
  display: grid;
  grid-template-columns: 217px 231px auto auto;
  width: 1056px;
}

.select-control {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: none;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("../img/down-vector.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  background-color: #ffffff;
  cursor: pointer;
}

.select-control.sorting {
  min-width: 287px;
  padding: 12px 35px 13px 19px;
}

.select-control.qy {
  padding: 13px 133px 12px 17px;
}

.select-control:hover {
  box-shadow: inset 0 0 0 2px #83b3d3;
}

.select-control:focus {
  box-shadow: inset 0 0 0 2px #83b3d3;
  outline: none;
}

.select-control:active {
  opacity: 30%;
}

.hotels-found-container {
  width: 1057px;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 42px;
}

.pagination {
  width: 668px;
  flex-wrap: wrap;
}

.pagination-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.hotel-quantity-on-page,
.rating-container {
  margin-left: auto;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content-container {
  margin: 0 auto;
  width: 1200px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.catalog-container {
  display: flex;
  flex-direction: column;
  width: 1056px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.pagination-container,
.navigation,
.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.pagination-container {
  position: relative;
  align-items: center;
}

.pagination-container::before {
  position: absolute;
  content: "";
  width: 1056px;
  border-bottom: 1px solid #e5e5e5;
  top: -27px;
}

.navigation {
  padding-left: 59px;
  padding-right: 72px;
  justify-content: space-around;
}

.navigation-list:first-child .navigation-item {
  z-index: 1;
}

.popover {
  position: absolute;
  top: 49px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  min-height: 180px;
  border-radius: 20px;
  box-shadow:
    inset 0 0 0 1px #e5e5e5,
    0 25px 50px 0 rgba(0, 0, 0, 0.15);
  display: none;
}

.popover::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 190px;
  width: 20px;
  height: 10px;
  background: url("data:image/svg+xml,<svg viewBox='0 0 20 10' xmlns='http://www.w3.org/2000/svg'><path d='m10 0 10 9H0' fill='%23e4e4e4'/><path d='m10 1 10 9H0' fill='%23fff'/></svg>");
}

.popover-content {
  height: 100%;
}

.popover-list {
  margin: 0;
  padding: 15px 14px 14px 16px;
  list-style-type: none;
}

.popover-image {
  width: 48px;
  height: 48px;
  grid-row: 1/3;
  object-fit: fill;
  border-radius: 50%;
  display: block;
  align-self: center;
}

.popover-card-title {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

.popover-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popover-item:not(:last-child) {
  margin-bottom: 5px;
}

.favourite-link {
  color: #000000;
  padding: 10px;
  display: grid;
  grid-template-columns: 66px auto;
  border-radius: 10px;
  text-decoration: none;
}

.favourite-link:hover {
  opacity: 60%;
}

.favourite-link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.favourite-link:active {
  opacity: 30%;
}

.popover-card-type {
  font-size: 16px;
  line-height: 16px;
  color: #333333;
}

.basket-delete-button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  opacity: 20%;
  cursor: pointer;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  border-radius: 10px;
  align-self: flex-start;
}

.basket-delete-button:hover {
  opacity: 100%;
}

.basket-delete-button:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  opacity: 100%;
  outline: none;
}

.basket-delete-button:active {
  opacity: 10%;
}

.reccomendation-list,
.advantages-list,
.pagination,
.hotel-list,
.catalog-filter-list,
.navigation-list,
.footer-social-list,
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 14px;
}

.hotel-list {
  border-top: 1px solid #e5e5e5;
  margin-bottom: 29px;
}

.hotel-card {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
  line-height: 23px;
}

.hotel-main-info-container {
  margin-left: 37px;
  display: grid;
  grid-template-columns: 151px 515px;
  gap: 7px;
}

.breadcrumbs {
  width: 1074px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -5px;
  margin-left: 65px;
  margin-bottom: 41px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-social {
  width: 179px;
  margin-left: 61px;
}

.footer-social-item .button {
  background-color: #ffffff;
}

.footer-social-item:nth-child(3n+1) {
  margin-right: 3px;
}

.footer-social-item:nth-child(3n+2) {
  margin-right: 4px;
}

.navigation-list {
  width: 459px;
  align-items: center;
}

.navigation-list:nth-child(1) .navigation-item {
  margin-top: 19px;
  margin-bottom: 20px;
}


.navigation-list:first-child .navigation-item:not(:nth-child(4n+1)) {
  margin-left: 9px;
}

.navigation-user {
  width: 445px;
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.wrapper-under-welcome {
  padding-top: 63px;
  padding-bottom: 79px;
  padding-left: 240px;
  padding-right: 240px;
}

.under-welcome {
  margin: 0;
}

.navigation-user .navigation-item {
  position: relative;
}

.round-green {
  color: #ffffff;
  display: block;
  width: 19px;
  height: 19px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  padding-top: 3px;
  box-sizing: border-box;
  padding-left: 4px;
  background-color: #7db54f;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 22px;
}

.advantages-list,
.reccomendation-list,
.ai-with-pic {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.ai-with-pic {
  grid-column: 1/-1;
}

.ai-with-pic:nth-child(3n+1) .wrapper-advantages-item-sedona {
  grid-column: 2/-1;
}

.ai-with-pic:nth-child(2n) .wrapper-advantages-item-sedona {
  grid-column: 1/3;
  grid-row: 1/2;
}

.reccomendation-item,
.experiment {
  width: 400px;
  min-height: 384px;
}

.wrapper-advantages-item-sedona {
  width: 800px;
}

.advantages-photo-bug {
  display: block;
  background-color: #68a2ca;
}

.interested {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  width: 363px;
  margin: 22px auto 24px auto;
}

.madein {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 190px;
  margin-right: 50px;
}

.madein-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 22px;
}

.madein-link:hover .madein-logo {
  fill: #756257;
}

.madein-link:focus .madein-logo {
  fill: #756257;
}

.madein-link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 10px;
}

.madein-link:active .madein-logo {
  fill: #756257;
  opacity: 30%;
}

.navigation-link {
  position: relative;
  color: #000000;
  font-weight: 700;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon,
.navigation-icon {
  display: block;
}

.social-link:hover .social-icon {
  fill: #68a2ca;
}

.social-link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 10px;
}

.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:active .social-icon {
  fill: #68a2ca;
  opacity: 30%;
}

.navigation-link:hover,
.contacts-phone:hover {
  color: #756257;
}

.navigation-link:focus,
.contacts-phone:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 10px;
}

.navigation-link-current::before {
  position: absolute;
  right: 12px;
  top: 51px;
  left: 12px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link:hover ~ .popover {
  display: block;
}

.navigation-link:active,
.contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:focus .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link:active .round-green {
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.button-brown:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.wanna-go {
  display: block;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 9px;
  margin-left: 23px;
  margin-bottom: 1px;
}

.grid-button-toggle-container {
  width: 241px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.grid-button-toggle {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 16px;
  margin: 1px 0 0 8px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  border-radius: 4px;
}

.grid-button-toggle:hover {
  box-shadow: inset 0 0 0 2px #83b3d3;
}

.grid-button-toggle:focus {
  box-shadow: inset 0 0 0 2px #83b3d3;
  outline: none;
}

.grid-button-toggle:not([href]) {
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.button-container {
  grid-row: 1/2;
  grid-column: 4/5;
  justify-self: end;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 61px;
}

.button {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button-brown {
  background-color: #756257;
}

.all-favourite-button {
  width: 400px;
  min-height: 60px;
  padding: 20px 0;
  border-radius: 0 0 20px 20px;
  position: relative;
  bottom: -1px;
  left: 0;
}

.button-blue {
  background-color: #83b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
  border-radius: 4px;
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:focus {
  background-color: #6c9e42;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6c9e42;
}

.newsletter-button:focus {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.button-apply:focus {
  box-shadow: 0 0 0 3px #ffffff;
  outline: none;
  border-radius: 4px;
}

.button-apply {
  font-family: inherit;
  width: 160px;
  min-height: 48px;
  padding: 0;
  margin-bottom: 16px;
}

.button-search {
  min-width: 575px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 91px;
  border-radius: 10px;
}

.newsletter-button {
  font-family: inherit;
  width: 200px;
  min-height: 60px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0 10px 10px 0;
  margin: 0;
}

.hotel-card-button {
  padding-top: 7px;
  padding-bottom: 8px;
  align-self: end;
}

.hotel-card-btutton .button-brown {
  width: 151px;
}

.hotel-card-button.button-blue,
.hotel-card-button.button-green {
  width: 160px;
}

.hotel-card-type {
  align-self: start;
}

.hotel-card-type,
.hotel-card-price {
  margin-top: -37px;
}

.pagination-load-more {
  font-family: inherit;
  align-self: center;
  width: 625px;
  font-size: 20px;
  line-height: 26px;
  min-height: 55px;
  padding: 0;
  margin-bottom: 57px;
}

.button-reset {
  display: inline-block;
  font-family: inherit;
  background: transparent;
  border: none;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  padding: 4px 0 5px 0;
  width: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  font-size: 20px;
  line-height: 26px;
  padding: 15px;
}

.pagination-link:not([href]) {
  color: #000000;
  background-color: #f2f2f2;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.breadcrumbs-item:not(:nth-child(1)) {
  margin-left: 10px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:nth-child(1))::before {
  content: url("../img/nav-vector.svg");
  position: absolute;
  left: -7px;
}

.breadcrumbs-item:not(:nth-child(1)) .breadcrumbs-link {
  padding: 3px 8px;
}

.bread-link-only-icon {
  width: 28px;
  height: 27px;
}

.breadcrumbs-link:hover .bread-home {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  outline: none;
  border-radius: 4px;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.breadcrumbs-link:active .bread-home {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-index {
  text-align: center;
}

.index-title,
.interested-index-title,
.page-footer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.index-title {
  margin-bottom: 33px;
}

.page-footer-title {
  margin-top: 92px;
  margin-bottom: 30px;
}

.newsletter-catalog .page-footer-title {
  margin-top: 83px;
  margin-bottom: 30px;
}

.newsletter-email {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 47px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.range-scale {
  width: 287px;
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range {
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow:
    0 0 0 3px #83b3d3,
    0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: none;
}

.range-toggle:active {
  box-shadow:
    0 0 0 2px #83b3d3,
    0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 31px;
}

.catalog-filter-label {
  position: relative;
  display: flex;
}

.catalog-filter-label:nth-child(1)::after {
  content: "от";
  position: absolute;
  text-align: center;
  top: 12px;
  bottom: 13px;
  right: 16px;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-label:nth-child(2)::after {
  content: "до";
  position: absolute;
  text-align: center;
  top: 12px;
  bottom: 13px;
  right: 16px;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-input {
  margin: 0;
  margin-left: -2px;
  color: #ffffff;
  font: inherit;
  padding: 13px 40px 12px 19px;
  text-align: left;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ffffff;
  border: none;
  box-sizing: border-box;
  appearance: textfield;
  width: 145px;
  cursor: pointer;
}

.catalog-filter-input::-webkit-input-placeholder {
  color: #ffffff;
}

.catalog-filter-input::placeholder {
  color: #ffffff;
  opacity: 100%;
}

.catalog-filter-input:hover {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6);
}

.catalog-filter-input:focus {
  box-shadow:
    0 0 0 3px #81b3d2,
    inset 0 0 0 2px #ffffff,
    inset 0 0 0 5px #81b3d2;
  outline: none;
}

.catalog-filter-input:active {
  background-color: #756257;
  box-shadow: inset 0 0 0 2px #ffffff;
}

.catalog-filter-input:not(:placeholder-shown) {
  background-color: #756257;
  box-shadow: inset 0 0 0 2px #ffffff;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.field {
  min-height: 60px;
  width: 600px;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  margin: 0;
  padding-left: 22px;
  padding-right: 19px;
  box-sizing: border-box;
  cursor: pointer;
}

.field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field:hover {
  background-color: #e5e5e5;
}

.field:focus {
  background-color: #e5e5e5;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.field:not(:placeholder-shown) {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #000000;
}

.field-with-error {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #ff5757;
}

.interested-index-title {
  margin-top: 89px;
  margin-bottom: 29px;
}

.interested-text {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 59px;
}

.footer-title-white {
  color: #ffffff;
}

.newsletter-email-catalog {
  color: #333333;
}

.text-under-index-title {
  font-size: 22px;
  line-height: 36px;
}

.advantages-title,
.reccomendation-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title {
  margin-top: 96px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-description {
  margin: 0 75px 77px 75px;
}

.description-blue {
  margin-left: 90px;
  margin-right: 90px;
}

.advantages-number {
  display: block;
  margin-bottom: 30px;
}

.reccomendation-title {
  margin-top: 0;
  margin-bottom: 18px;
}

.ai-blue {
  color: #ffffff;
}

.experiment {
  background-color: #83b3d3;
}

.reccomendation-description {
  color: #333333;
  width: 192px;
  margin: 0 0 79px 0;
  padding: 0;
}

.reccomendation-description:not(:first-child) {
  width: 230px;
}

.reccomendation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reccomendation-item:nth-child(1n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reccomendation-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-item:nth-child(3n+3),
.advantages-item:nth-child(2n+3) {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
}

.advantages-item:nth-child(2n+4) {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  min-height: 384px;
}

.contacts-phone {
  display: block;
  padding: 15px;
  color: #000000;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.inner-header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 71px;
}

.inner-header {
  padding-top: 32px;
}

.catalog-filter-group {
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.catalog-filter-range {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  padding: 0;
}

.catalog-filter-range .catalog-filter-title {
  margin-bottom: 35px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83b3d3;
  outline-color: transparent;
}

.control-input:disabled + .control-mark {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: default;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: -1px;
  left: 4px;
  content: url("../img/approve-icon.svg");
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.hotels-found-total {
  width: 344px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.hotel-card-image {
  display: block;
}

.hotel-image-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel-image-link:hover {
  opacity: 60%;
}

.hotel-image-link:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.hotel-image-link:active {
  opacity: 30%;
}

.hotel-card-title {
  margin: -13px 0 15px -15px;
  grid-column: 1/-1;
}

.hotel-title-link {
  display: inline-block;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  padding: 10px 16px 10px 15px;
  border-radius: 10px;
}

.hotel-title-link:hover {
  color: #756257;
}

.hotel-title-link:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.hotel-title-link:active {
  color: #756257;
  opacity: 30%;
}

.hotel-rating-text {
  width: 160px;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 0 10px 0;
}

.hotel-quantity-on-page {
  display: flex;
  align-items: center;
  line-height: 23px;
}

.h-quantity {
  margin-right: 44px;
}

.navigation-logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -9px;
  z-index: 1;
  width: 138px;
  color: #000000;
  background-color: transparent;
}

.welcome-logo-cover {
  position: relative;
  color: #000000;
  background: url("../img/divider.svg") no-repeat bottom, url("../img/background-index.jpg") no-repeat;
  background-color: #68a2ca;
}

.welcome-logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
  margin-bottom: 77px;
}

.housing {
  margin-top: 88px;
  margin-bottom: 25px;
  width: 75px;
  height: 72px;
  background-image: url("../img/housing.svg");
  background-repeat: no-repeat;
}

.food {
  margin-top: 92px;
  margin-bottom: 23px;
  width: 74px;
  height: 70px;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
}

.souvenirs {
  margin-top: 85px;
  margin-bottom: 23px;
  width: 64px;
  height: 76px;
  background-image: url("../img/souvenirs.svg");
  background-repeat: no-repeat;
}

.newsletter {
  width: 1200px;
  min-height: 411px;
  color: #ffffff;
  background-color: #68a2ca;
  background-image: url("../img/background-main-mail.jpg");
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter-catalog {
  background-image: none;
  background-color: #ffffff;
  min-height: 446px;
}

.back-inn {
  min-height: 408px;
  background-image: url("../img/background-catalog-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #68a2ca;
  margin-bottom: 43px;
}

.hotel-rating-stars {
  margin-top: 2px;
  height: 17px;
  background-color: #ffffff;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.hotel-rating-stars-five {
  width: 107px;
}

.hotel-rating-stars-four {
  width: 88px;
}

.hotel-rating-stars-three {
  width: 67px;
}

.hotel-rating-stars-two {
  width: 43px;
}

.hotel-rating-stars-one {
  width: 19px;
}

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  color: #000000;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  margin: 0;
  margin-bottom: 59px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  align-self: flex-start;
}

.form-label {
  line-height: 40px;
  font-weight: 700;
  align-self: center;
}

.form-label-icon {
  display: flex;
  align-items: center;
}

.field-modal {
  width: 420px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 19px;
  padding-right: 246px;
  background-image: url("../img/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: 386px center;
}

.field-modal:hover,
.modal-close-button:hover {
  background-color: #e5e5e5;
}

.field-modal:focus,
.modal-close-button:focus {
  background-color: #e5e5e5;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.modal-close-button:active .modal-close {
  fill: rgba(0, 0, 0, 0.3);
}

.field-modal:not(:placeholder-shown) {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #000000;
}

.field-modal::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}

.field-group {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  display: grid;
  grid-template-columns: 155px 133px 287px;
}

.info-modal {
  font-size: 16px;
  line-height: 40px;
  grid-column: 2/4;
  grid-row: 2/3;
}

.info-error {
  color: #ff5757;
}

.info-ok {
  color: #333333;
}

.select-container {
  width: 575px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.field-input-num::-webkit-outer-spin-button,
.field-input-num::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.field-input-num {
  border: none;
  background-color: #f2f2f2;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  outline: none;
  max-height: 50px;
}

.input-button-minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-button-plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.amount-people-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 50px;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.amount-people-button:hover .symbol-icon {
  fill: #000000;
}

.amount-people-button:focus .symbol-icon {
  fill: #000000;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.amount-people-button:focus {
  outline: none;
}

.amount-people-button:active .symbol-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.form-amount-group {
  margin: 0;
  margin-bottom: 11px;
}

.form-amount-people-adult {
  width: 290px;
  display: grid;
  grid-template-columns: 155px 45px 45px 45px;
}

.form-amount-people-children {
  display: grid;
  grid-template-columns: 54px 43px 45px 45px 45px;
  width: 232px;
  position: relative;
}

.plus-icon {
  padding: 6px;
  border-radius: 4px;
}

.minus-icon {
  padding: 12px 6px;
  border-radius: 4px;
}

.info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #83b3d3;
  background-image: url("../img/info-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.info:hover {
  background-color: #68a2ca;
}

.submit-form-button {
  min-height: 60px;
  width: 575px;
  border: none;
  margin: 29px auto 0 auto;
  padding: 0;
  color: #ffffff;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
}

.info-popover {
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  width: 256px;
  text-align: left;
  background-color: #333333;
  box-sizing: border-box;
  color: #ffffff;
  border-radius: 10px;
  padding: 15px 15px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.info-popover-closed {
  display: none;
}

.info-popover::before {
  content: "";
  background-image: url("../img/triangle-black.svg");
  position: absolute;
  top: -8px;
  left: 118px;
  width: 19px;
  height: 9px;
}

.info:hover .info-popover {
  display: block;
}
