@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  outline: 5px solid red;
  outline-offset: -5px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  outline: 5px solid red;
  outline-offset: -5px;
}

.navigation-user {
  outline: 5px solid red;
  outline-offset: -5px;
}

.navigation-logo-container {
  margin: 0 auto;
}

.wrapper-under-welcome {
  padding-top: 63px;
  padding-bottom: 79px;
  outline: 5px solid red;
  outline-offset: -5px;
}

.advantages-list {
  width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  outline: 5px solid red;
  outline-offset: -5px;
  list-style-type: none;
}


.ai-with-pic {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;

}
.experiment {
  height: 384px;
  width: 400px;
}
.wrapper-advantages-item-sedona {
  width: 800px;
  height: 384px;
}

.reccomendation-list {
  margin: 0;
  padding: 0;
  width: 1200px;
  display: flex;
}
.reccomendation-item {
  width: 400px;
  height: 384px;
}

.interested {
  padding: 91px;
  outline: 5px solid red;
  outline-offset: -5px;
}
.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:1200px;
  margin: 0 auto;
}

.newsletter {
  width: 1200px;
}

.contacts {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.maidein {
  width: 115px;
}

.navigation-link  {
  outline: 5px solid red;
  outline-offset: -5px;
  margin: 0 auto;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.button {
 font-size: 16px;
 color: #FFFFFF ;
 font-weight: 700;
 background-color: #756257;
 border-radius: 4px;
 text-align: center;
 text-transform: uppercase;
 text-decoration: none;
}

.button-blue {
  background-color: #83B3D3;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

.newsletter-button {
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
}

.pagination-load-more {
  font-size: 20px;
  line-height: 26px;
}

.button-reset {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
}

.main-index {
  text-align: center;
}

.index-title,
.interested-index-title,
.page-footer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.footer-title-white {
  color:#FFFFFF;
}

.newsletter-catalog {
  background-color: #FFFFFF;
}
.newsletter-email-catalog {
  color: #333333;
}

.text-under-index-title {
  font-size: 22px;
  line-height: 36px;
}


.advantages-title,
.reccomendation-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.ai-blue {
  color: #FFFFFF;
}

.experiment {
  background-color:#83B3D3;
}

.ai-blue:nth-child(2) {
  background-color:#83B3D3;
}

.reccomendation-description {
  color: #333333;
}

.reccomendation-item:nth-child(1),
.reccomendation-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}
.reccomendation-item:nth-child(2) {
  background-color: #FFFFFF;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5)  {
  background-color: rgba(131, 179, 211, 0.12);
  height: 384px;
  width: 400px;
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
  height: 384px;
  width: 400px;
}

.contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.inner-header-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-group{
  color: #FFFFFF;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.hotels-found-total {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.hotel-card {
  line-height: 23px;
}

.hotel-title-link {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
}

.hotel-rating-text {
  width: 160px;
  background-color: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-quantity-on-page {
  line-height: 23px;
}

.navigation-logo {
  color: #000000;
  background-color: #FFFFFF;
}

.welcome-logo-cover {
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  color: #000000;
  background-color: white;
  background-image: url("../img/background-index.jpg");
  background-repeat: no-repeat;
}

.welcome-logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 51px;
  margin-bottom: 82px;
}

.housing {
  padding-top: 80px;
  background-image: url("../img/housing.svg");
  background-repeat: no-repeat;
}

.food {
  padding-top: 80px;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
}

.souvenirs {
  padding-top: 80px;
  background-image: url("../img/souvenirs.svg");
  background-repeat: no-repeat;
}

.newsletter {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/background-main-mail.jpg");
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter-catalog {
  background-image: none;
  background-color:#FFFFFF;
}


.main-inner {
  background-image: url("../img/background-catalog-filter.jpg");
  background-repeat: no-repeat;
}

.hotel-rating-stars {
  height: 17px;
  background-color: white;
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
}

.hotel-rating-stars-one {
  width: 72px;
}

.hotel-rating-stars-two {
  width: 54px;
}

.hotel-rating-stars-three {
  width: 36px;
}

.hotel-rating-stars-four {
  width: 36px;
}


